@charset "UTF-8";

@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/pacifico.ttf') format('truetype');
    display: swap;
}

/* Generic */
*, *:before, *:after {
    box-sizing: border-box;
}

*::selection { background-color: rgba(243,164,71,.3); }

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #333;
    font: 14px/1 Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    color: #1866da;
}

.link:hover,
.link:focus {
    color: #f3a447;
    outline: 0;
    text-decoration: underline;
}

a.active { color: #f3a447; }
a.active:hover { text-decoration: none; }

h1, h2, h3, h4 {
    font-weight: 700;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1.1em;
    margin-top: 1.1em;
}

h4 {
    font-size: 16px;
    margin: .5em 0;
}

p {
    line-height: 1.6;
    margin: 1.5em 0 .75em;
}

ul:not(.bullet) {
    list-style: none;
    padding: 0;
}

ul.bullet {
    list-style: square;
    margin: 1.1em 0;
    padding-left: 24px;
}

.bullet li { line-height: 1.6; }

/* Structural Classes */
.container {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    max-width: 1072px;
    width: 100%;
}

.split {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.split.even > * { flex-basis: 50%; }

.space-evenly {
    display: flex;
    justify-content: space-around;
}

.vertical-center {
    align-items: center;
    display: flex;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Textual Classes */
.text-center {
    text-align: center;
}

/* Intro (a.k.a. Big) Header Styles */
header.intro,
aside.intro {
    box-shadow: 2px 0 12px #333;
    padding: 128px 0;
    position: relative;
}

/* Landing Page Header Styles */
.intro .cover {
    background: #333 no-repeat top center / cover;
    bottom: 0;
    /* filter: sepia(25%); */
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-position 125ms ease-out;
    z-index: -1;
}

.cover:after {
    backdrop-filter: sepia(25%);
    background-image: radial-gradient(transparent, rgba(0,0,0,.65));
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* Cover Images */
.cover.landing { background-image: url('../assets/cover-landing.jpg'); }
.cover.contact { background-image: url('../assets/cover-contact.jpg'); }
.cover.siwb { background-image: url('../assets/cover-siwb.jpg'); }
.cover.join { background-image: url('../assets/cover-join.jpg'); }

.intro .author {
    bottom: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: .5px;
    opacity: .6;
    position: absolute;
    right: 6px;
    transition: opacity .15s ease-in;
}

.intro .author:hover {
    opacity: 1;
}

header.intro section {
    text-align: center;
}

header.intro h1 {
    color: #fff;
    font-size: 3em;
    margin-top: 1em;
    font-family: 'Pacifico';
    /* line-height: 90px; */
    letter-spacing: 2px;
    text-shadow: 0 1px 6px rgba(0,0,0,.6);
}

aside.intro {
    color: #fff;
}

aside.intro .panel {
    background-color: rgba(0,0,0,.45);
    box-shadow: inset 0 0 0 3px rgba(0,0,0,.25);
    display: block;
    line-height: 1.4;
    padding: 1em 4em;
}

.panel h2 {
    margin-top: 1em;
}

/* Navbar Styles */
nav {
    background-color: #333;
    color: #fff;
    height: 60px;
    padding: 0 24px;
}

menu {
    display: flex;
    list-style: none;
    padding: 0;
    position: relative;
}

menu li:not(:last-child){
    margin-right: 12px;
}

menu li > .link {
    color: #fff;
}

menu .link.active {
    color: #f3a447;
}

menu a {
    font-size: 12px;
    padding: 6px 0;
}

/* Site Navbar Logo */
.logo img {
    display: block;
}

.intro + main section {
    padding: 24px 96px;
}

/* Dropdown Menu */
.has-dropdown > a {
    cursor: pointer;
}

.has-dropdown:hover .dropdown,
.has-dropdown:hover .dropdown-arrow {
    visibility: visible;
}

.dropdown-arrow {
    bottom: -19px;
    height: 18px;
    left: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 320px;
    z-index: 10000;
}

.dropdown-arrow:before {
    background-color: #fff;
    border: 1px solid #ccc;
    content: '';
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: 18.5%;
    transform: rotate(45deg);
    width: 10px;
}

.dropdown {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0 1px #fff;
    color: #333;
    left: 0;
    padding: 6px 12px;
    position: absolute;
    top: 32px;
    visibility: hidden;
    width: 320px;
}

.dropdown .grid {
    padding: 0;
}

.dropdown .grid .item {
    flex-direction: column;
    justify-content: unset;
}

.dropdown .active:before {
    content: '→';
    padding-right: 3px;
}

/* Special Case for Intro Header Navbars*/
nav.intro {
    background-color: transparent;
    justify-content: flex-end!important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* Main Styles */
main {
    overflow: auto;
}

main h1,
main h2,
main h3,
main h4 {
    color: #000;
}

/* Section Styles */
section {
    padding: 12px 0 24px;
}

section:first-child {
    padding-top: 24px;
}

section p + a,
article p + a {
    display: block;
    margin-top: 24px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    overflow: auto;
}

footer section {
    padding: 0;
}

footer h2 {
    margin: .75em 0;
}

footer b {
    font-size: 14px;
}

footer ul {
    margin: 18px 0;
}

footer li {
    line-height: 24px;
}

footer .link {
    color: #fff;
}

footer .icon {
    margin-right: 6px;
}

.social-links a {
    align-items: center;
    display: flex;
}

.social-links a:hover {
    color: #fff;
}

/*
Filter trick to change colour of background images. Source: https://codepen.io/sosuke/pen/Pjoqqp
*/
.social-links .facebook:hover  { filter: invert(44%) sepia(14%) saturate(2363%) hue-rotate(176deg) brightness(90%) contrast(85%);  }
.social-links .twitter:hover   { filter: invert(44%) sepia(87%) saturate(1141%) hue-rotate(177deg) brightness(101%) contrast(90%); }
.social-links .instagram:hover { filter: invert(47%) sepia(29%) saturate(957%) hue-rotate(299deg) brightness(90%) contrast(97%);   }

.social-links .icon { pointer-events: none; }

/* Form Styles */
form:not(.bar) {
    display: flex;
    flex-direction: column;
}

form ::placeholder {
    color: #333;
    user-select: none;
}

form :focus {
    outline: 0;
}

form:not(.bar) input,
form:not(.bar) select,
form textarea {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    height: 36px;
    outline: 0;
    padding: 0 .75rem;
    width: 100%;
}

form textarea {
    font: inherit;
    height: 128px;
    padding: .75em;
    resize: none;
}

form:not(.bar) select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

form:not(.bar) select + label .arrow {
    transition: opacity 125ms ease-in, transform .2s ease-in;
}

select:focus + label .arrow {
    transform: rotateX(180deg);
}

form select,
form button {
    cursor: pointer;
}

form .button-holder {
    display: flex;
    justify-content: flex-end;
}

form button {
    background-color: #f3a447;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: .7em 2.5em;
}

form:not(.bar) input:hover,
form:not(.bar) select:hover,
form textarea:hover {
    border-color: #aaa;
}

form button:hover {
    background-color: #ff8a00;
}

form:not(.bar) input:focus,
form:not(.bar) select:focus,
form textarea:focus {
    border-color: #f3a447;
}

form button:active {
    background-color: #dc7e10;
}

form button:focus {
    outline: 1px solid #fff;
    outline-offset: -3px;
}

form:not(.bar) input:first-child {
    margin-top: 0;
}

/* Grids in Forms */
form .grid {
    padding: 0;
}

form.bar {
    border-bottom: 1px solid #ccc;
    margin-top: 1.5em;
    padding-bottom: 6px;
}

/* Checkboxe Styles */
.label-button {
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    height: 24px;
    padding: 0 6px 0 2px;
    user-select: none;
}

.label-button input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fefefe;
    border: 1px solid #7a7a7a;
    border-radius: 1px;
    height: 12px;
    line-height: 7.5px;
    outline: 0;
    pointer-events: none;
    text-align: center;
    width: 12px;
}

.label-button input[type="checkbox"]:before {
    color: #fff;
    content: '✔';
    font-size: 9px;
    font-weight: bold;
    user-select: none;
}

.label-button input[type="checkbox"]:checked:before { color: #f3a447; }
.label-button:not(:last-child){ margin-right: 6px; }

.label-button:hover,
.label-button.active {
    background-color: #f3a447;
    color: #fff;
}

#show { margin-left: 6px; }

/* Form Output Box */
.form-output {
    border: 1px solid #aaa;
    border-radius: 2px;
    cursor: pointer;
    margin: .5em 0;
    padding: 1em;
    position: relative;
}

.form-output:empty {
    visibility: hidden;
}

.form-output:before {
    content: '×';
    font: bold 24px arial;
    height: 24px;
    opacity: .6;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 8px;
    transition: opacity 125ms ease-in;
    width: 24px;
}

.form-output:hover:before {
    opacity: 1;
}

/* Input Icons */
.form-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: .25em 0 .5em;
    position: relative;
}

h3 + .form-group {
    margin-top: .75em;
}

.form-group .icon {
    content: '';
    cursor: pointer;
    height: 24px;
    opacity: .6;
    position: absolute;
    right: 6px;
    top: 6px;
    transition: opacity 125ms ease-in;
    width: 24px;
}

.form-group .icon:hover {
    opacity: 1;
}

/* Grid Structure */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 36px 18px;
    padding: 1.5em 0;
}

.grid.split {
    grid-template-columns: 1fr 1fr;
}

.grid .item {
    display: flex;
    justify-content: center;
}

.item.block {
    display: block;
    height: 100%;
}

.item.hidden {
    display: none;
    position: absolute;
    visibility: hidden;
}

.recipe {
    display: block;
    transition: transform 150ms ease-in-out;
}

.recipe:hover,
.recipe:focus {
    outline: 1px dashed #f3a447;
    outline-offset: 6px;
    transform: translateY(-4px);
}

.recipe img { border-radius: 3px; }

.recipe p {
    font-size: 12px;
    margin: .75em 0;
}

.recipe .info p {
    align-items: center;
    display: flex;
    margin: 0;
    height: 24px;
}

.recipe .icon { transition: transform .15s ease-in; }
.recipe .icon:hover { transform: scale(1.2); }

/* Events Page Styles */
.event-image {
    background: no-repeat center / cover;
    height: 196px;
    width: 196px;
}

/* Slider Buttons */
.slider-header {
    position: relative;
}

.slider-arrows {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-arrows .arrow {
    cursor: pointer;
    opacity: .6;
    transition: opacity .15s ease-in;
}

.slider-arrows .arrow:hover {
    opacity: 1;
}

.slider-arrows [rel="left"] { transform: rotate(90deg); }
.slider-arrows [rel="right"] { transform: rotate(-90deg); }

/* Calendar */
table.calendar {
    border-spacing: .5em;
    margin: 1.5em 0 0;
    width: 100%;
}

.calendar th,
.calendar td {
    padding: .75em 0;
    text-align: center;
    user-select: none;
}

.calendar th {
    color: #f3a447;
    position: relative;
}

.calendar td {
    cursor: pointer;
}

.calendar td:not(.active):hover {
    box-shadow: inset 0 0 0 1px #f3a447;
    font-weight: 700;
}

.calendar td:not(.active):active {
  box-shadow:
    inset 0 0 0 1px #f3a447,
    inset 0 0 6px #ccc
  ;
}

td[rel="blank"]:active { box-shadow: inset 0 0 0 1px #f3a447!important; }

.calendar .active {
    background-color: #ff8a00;
    color: #fff;
    font-weight: 700;
}

.calendar [rel="event"] {
    position: relative;
}

.calendar [rel="event"]:after {
    background: #1866da;
    border-radius: 50%;
    bottom: 2px;
    color: #fff;
    content: '';
    display: block;
    right: 5px;
    top: 5px;
    height: 7px;
    position: absolute;
    width: 7px;
}

.calendar [rel="event"].active:after { background-color: #000; }

/* Legal Page */
.legal {
    font-size: 12px;
}

/* Icons */
.icon {
    background: no-repeat center / 16px;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon.vegan {background-image: url('../assets/icons/leaf.svg');}
.icon.time {background-image: url('../assets/icons/clock.svg');}
.icon.help {background-image: url('../assets/icons/help.svg')}
.icon.mail {background-image: url('../assets/icons/mail.svg')}
.icon.arrow {background-image: url('../assets/icons/arrow.svg')}
.icon.phone {background-image: url('../assets/icons/phone.svg')}
.icon.badge {background-image: url('../assets/icons/badge.svg')}
.icon.pencil {background-image: url('../assets/icons/pencil.svg')}
.icon.close {background-image: url('../assets/icons/close.svg')}
.icon.person {background-image: url('../assets/icons/person.svg')}
.icon.facebook {background-image: url('../assets/icons/facebook.svg');}
.icon.twitter {background-image: url('../assets/icons/twitter.svg');}
.icon.instagram {background-image: url('../assets/icons/instagram.svg');}

/* Responsive Styling */
@media only screen and (max-width: 1072px){
    header .cover {
        background-size: 120%;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid .recipe img {
        height: 274px;
        width: 274px;
    }
}

@media only screen and (max-width: 934px){
    header .cover {
        background-size: 140%;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .grid.split {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 636px){
    header .cover {
        background-size: 150%;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid .recipe img {
        height: auto;
        width: 100%;
    }
}
